.createButton {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 0.875rem;
  font-weight: bold;
  color: var(--gray-100);
  line-height: 0;

  gap: 0.5rem;
  padding: 1rem;

  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: var(--blue-dark);
}

.createButton:hover {
  background-color: var(--blue);
}
