.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-weight: bold;

  margin-bottom: 1.5rem;
}

.container aside:first-of-type {
  color: var(--blue);
}

.container aside:last-of-type {
  color: var(--purple);
}

.container aside p {
  font-size: 0.875rem;
}

.container aside p span {
  font-size: 0.75rem;
  color: var(--gray-200);

  margin-left: 0.5rem;
  padding: 0.125rem 0.5rem;
  border-radius: 999px;
  background-color: var(--gray-400);
}
